In [1]:
import pandas as pd
from sqlalchemy import create_engine
# Import PostgreSQL username and password
from config import username, password
# Import pycountry to add country id codes
import pycountry

### Extract CSVs into DataFrames

In [2]:
# Import csv into economics_df
economics_file = "250 Country Data.csv"
economics_df = pd.read_csv(economics_file)

In [3]:
# Import csv into WHO_df
WHO_file = "Life Expectancy Data.csv"
WHO_df = pd.read_csv(WHO_file)

In [4]:
# Import csv into happiness_df
happiness_file = "world-happiness-report.csv"
happiness_df = pd.read_csv(happiness_file)

### Transform DataFrames

In [5]:
# Split columns in economics_df that have mixed values
economics_df[['Literacy Rate','year']] = economics_df['Literacy Rate(%)'].str.split('%',expand=True)
economics_df[['Inflation','year', 'year']] = economics_df['Inflation(%)'].str.split('%',expand=True)
economics_df[['Unemployement','year', 'year']] = economics_df['Unemployement(%)'].str.split('%',expand=True)

In [6]:
# Rename and select the column headers
economics_transformed = economics_df.rename (columns={"name": "country",
                                                    "region": "continent",
                                                    "area": "area",
                                                     "Literacy Rate": "literacy_rate",
                                                    "Inflation": "inflation",
                                                     "Unemployement": "unemployement"})
economics_df_cols = ["country", "continent", "area", "literacy_rate", "inflation", "unemployement"]
economics_transformed = economics_transformed[economics_df_cols].copy()
economics_transformed

,country,continent,area,literacy_rate,inflation,unemployement
0,Afghanistan,Asia,652230.0,28.1,6.8,35
1,Åland Islands,Europe,1580.0,NaN,NaN,NaN
2,Albania,Europe,28748.0,98.7,1.7,16.9
3,Algeria,Africa,2381741.0,79,3.9,10.3
4,American Samoa,Oceania,199.0,97,NaN,NaN
...,...,...,...,...,...,...
245,Wallis and Futuna,Oceania,142.0,NaN,NaN,NaN
246,Western Sahara,Africa,266000.0,NaN,NaN,NaN
247,Yemen,Asia,527968.0,65.3,11.8,35
248,Zambia,Africa,752612.0,61.4,7.1,15
249,Zimbabwe,Africa,390757.0,NaN,NaN,NaN

In [7]:
# Filter WHO_df for 2015 year
WHO_df = WHO_df[WHO_df.Year == 2015]

In [8]:
# Rename and select the column headers
WHO_transformed = WHO_df.rename(columns={"Country": "country",
                                         "Status": "status",
                                         "Life expectancy ": "life_expectancy",
                                        "Hepatitis B": "hepatitis_b",
                                        "Polio": "polio",
                                        "GDP": "gdp",
                                        "Population": "population"})
WHO_df_cols = ["country", "status", "life_expectancy", "hepatitis_b", "polio", "gdp", "population"]
WHO_transformed = WHO_transformed[WHO_df_cols].copy()
WHO_transformed

,country,status,life_expectancy,hepatitis_b,polio,gdp,population
0,Afghanistan,Developing,65.0,65.0,6.0,584.259210,33736494.0
16,Albania,Developing,77.8,99.0,99.0,3954.227830,28873.0
32,Algeria,Developing,75.6,95.0,95.0,4132.762920,39871528.0
48,Angola,Developing,52.4,64.0,7.0,3695.793748,2785935.0
64,Antigua and Barbuda,Developing,76.4,99.0,86.0,13566.954100,NaN
...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),Developing,74.1,87.0,87.0,NaN,NaN
2874,Viet Nam,Developing,76.0,97.0,97.0,NaN,NaN
2890,Yemen,Developing,65.7,69.0,63.0,NaN,NaN
2906,Zambia,Developing,61.8,9.0,9.0,1313.889646,161587.0
2922,Zimbabwe,Developing,67.0,87.0,88.0,118.693830,15777451.0

In [9]:
# Filter happiness_df for 2015 year
happiness_df = happiness_df[happiness_df.year == 2015]

In [10]:
# Rename and select the column headers
happiness_cols = ["Country name", "Life Ladder", "Social support", "Freedom to make life choices", "Perceptions of corruption"]
happiness_transformed = happiness_df.rename(columns={"Country name": "country",
                                                    "Life Ladder": "happiness_rating",
                                                    "Social support": "social_support",
                                                    "Freedom to make life choices": "freedom",
                                                    "Perceptions of corruption": "corruption"})
happiness_df_cols = ["country", "happiness_rating", "social_support", "freedom", "corruption"]
happiness_transformed = happiness_transformed[happiness_df_cols].copy()
happiness_transformed

          country  happiness_rating  social_support  freedom  corruption
7     Afghanistan             3.983           0.529    0.389       0.881
19        Albania             4.607           0.639    0.704       0.885
46      Argentina             6.697           0.926    0.881       0.851
61        Armenia             4.348           0.723    0.551       0.901
74      Australia             7.309           0.952    0.922       0.357
...           ...               ...             ...      ...         ...
1888    Venezuela             5.569           0.911    0.512       0.813
1903      Vietnam             5.076           0.849      NaN         NaN
1915        Yemen             2.983           0.669    0.610       0.829
1928       Zambia             4.843           0.691    0.759       0.871
1943     Zimbabwe             3.703           0.736    0.667       0.810

[143 rows x 5 columns]

In [11]:
# Define a function to add the alpha_2 id code corresponding to each country name
def findCountry (country_name):
    try:
        return pycountry.countries.get(name=country_name).alpha_2
    except:
        return ("Not found")

In [12]:
happiness_transformed["id"] = happiness_transformed.apply(lambda row: findCountry(row.country), axis = 1)
happiness_transformed

,country,happiness_rating,social_support,freedom,corruption,id
7,Afghanistan,3.983,0.529,0.389,0.881,AF
19,Albania,4.607,0.639,0.704,0.885,AL
46,Argentina,6.697,0.926,0.881,0.851,AR
61,Armenia,4.348,0.723,0.551,0.901,AM
74,Australia,7.309,0.952,0.922,0.357,AU
...,...,...,...,...,...,...
1888,Venezuela,5.569,0.911,0.512,0.813,Not found
1903,Vietnam,5.076,0.849,NaN,NaN,Not found
1915,Yemen,2.983,0.669,0.610,0.829,YE
1928,Zambia,4.843,0.691,0.759,0.871,ZM
1943,Zimbabwe,3.703,0.736,0.667,0.810,ZW

In [13]:
economics_transformed["id"] = economics_transformed.apply(lambda row: findCountry(row.country), axis = 1)
economics_transformed

,country,continent,area,literacy_rate,inflation,unemployement,id
0,Afghanistan,Asia,652230.0,28.1,6.8,35,AF
1,Åland Islands,Europe,1580.0,NaN,NaN,NaN,AX
2,Albania,Europe,28748.0,98.7,1.7,16.9,AL
3,Algeria,Africa,2381741.0,79,3.9,10.3,DZ
4,American Samoa,Oceania,199.0,97,NaN,NaN,AS
...,...,...,...,...,...,...,...
245,Wallis and Futuna,Oceania,142.0,NaN,NaN,NaN,WF
246,Western Sahara,Africa,266000.0,NaN,NaN,NaN,EH
247,Yemen,Asia,527968.0,65.3,11.8,35,YE
248,Zambia,Africa,752612.0,61.4,7.1,15,ZM
249,Zimbabwe,Africa,390757.0,NaN,NaN,NaN,ZW

In [14]:
WHO_transformed["id"] = WHO_transformed.apply(lambda row: findCountry(row.country), axis = 1)
WHO_transformed

,country,status,life_expectancy,hepatitis_b,polio,gdp,population,id
0,Afghanistan,Developing,65.0,65.0,6.0,584.259210,33736494.0,AF
16,Albania,Developing,77.8,99.0,99.0,3954.227830,28873.0,AL
32,Algeria,Developing,75.6,95.0,95.0,4132.762920,39871528.0,DZ
48,Angola,Developing,52.4,64.0,7.0,3695.793748,2785935.0,AO
64,Antigua and Barbuda,Developing,76.4,99.0,86.0,13566.954100,NaN,AG
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),Developing,74.1,87.0,87.0,NaN,NaN,Not found
2874,Viet Nam,Developing,76.0,97.0,97.0,NaN,NaN,VN
2890,Yemen,Developing,65.7,69.0,63.0,NaN,NaN,YE
2906,Zambia,Developing,61.8,9.0,9.0,1313.889646,161587.0,ZM
2922,Zimbabwe,Developing,67.0,87.0,88.0,118.693830,15777451.0,ZW

In [17]:
# Merge on country to generate a unique country id
merged1 = pd.merge(happiness_transformed, WHO_transformed, on = "id", how='left')
merged2 = pd.merge(merged1, economics_transformed, on = "id", how='left')
merged2

,country_x,happiness_rating,social_support,freedom,corruption,id,country_y,status,life_expectancy,hepatitis_b,polio,gdp,population,country,continent,area,literacy_rate,inflation,unemployement
0,Afghanistan,3.983,0.529,0.389,0.881,AF,Afghanistan,Developing,65.0,65.0,6.0,584.259210,33736494.0,Afghanistan,Asia,652230.0,28.1,6.8,35
1,Albania,4.607,0.639,0.704,0.885,AL,Albania,Developing,77.8,99.0,99.0,3954.227830,28873.0,Albania,Europe,28748.0,98.7,1.7,16.9
2,Argentina,6.697,0.926,0.881,0.851,AR,Argentina,Developing,76.3,94.0,93.0,13467.123600,43417765.0,Argentina,Americas,2780400.0,97.9,20.8,7.5
3,Armenia,4.348,0.723,0.551,0.901,AM,Armenia,Developing,74.8,94.0,96.0,369.654776,291695.0,Armenia,Asia,29743.0,99.4,NaN,NaN
4,Australia,7.309,0.952,0.922,0.357,AU,Australia,Developed,82.8,93.0,93.0,56554.387600,23789338.0,Australia,Oceania,7692024.0,99,2.4,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4099,Vietnam,5.076,0.849,NaN,NaN,Not found,Venezuela (Bolivarian Republic of),Developing,74.1,87.0,87.0,NaN,NaN,United States of America,Americas,9629091.0,NaN,NaN,NaN
4100,Vietnam,5.076,0.849,NaN,NaN,Not found,Venezuela (Bolivarian Republic of),Developing,74.1,87.0,87.0,NaN,NaN,Venezuela (Bolivarian Republic of),Americas,916445.0,NaN,NaN,NaN
4101,Yemen,2.983,0.669,0.610,0.829,YE,Yemen,Developing,65.7,69.0,63.0,NaN,NaN,Yemen,Asia,527968.0,65.3,11.8,35
4102,Zambia,4.843,0.691,0.759,0.871,ZM,Zambia,Developing,61.8,9.0,9.0,1313.889646,161587.0,Zambia,Africa,752612.0,61.4,7.1,15
4103,Zimbabwe,3.703,0.736,0.667,0.810,ZW,Zimbabwe,Developing,67.0,87.0,88.0,118.693830,15777451.0,Zimbabwe,Africa,390757.0,NaN,NaN,NaN

In [18]:
country_alpha_cols = ["id", "country_x"]
country_alpha = merged2[country_alpha_cols].copy()
country_alpha = country_alpha[country_alpha.id != 'Not found'].copy()
country_alpha = country_alpha.rename (columns={"id": "id",
                                "country_x": "country"})
country_alpha

      id      country
0     AF  Afghanistan
1     AL      Albania
2     AR    Argentina
3     AM      Armenia
4     AU    Australia
...   ..          ...
3631  UY      Uruguay
3632  UZ   Uzbekistan
4101  YE        Yemen
4102  ZM       Zambia
4103  ZW     Zimbabwe

[126 rows x 2 columns]

### Create database connection

In [19]:
# Create Engine
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/happiness_db")
connection = engine.connect()

In [20]:
# Confirm tables
engine.table_names()

[]

### Load DataFrames into database

In [21]:
economics_transformed.to_sql(name='economics', con=engine, if_exists='append', index=False)

In [22]:
WHO_transformed.to_sql(name='who', con=engine, if_exists='append', index=False)

In [23]:
happiness_transformed.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [24]:
country_alpha.to_sql(name='country_alpha', con=engine, if_exists='append', index=False)

In [25]:
# Confirm tables
engine.table_names()

['economics', 'who', 'happiness', 'country_alpha']

In [26]:
pd.read_sql_query("select * from happiness", con=engine)

,country,happiness_rating,social_support,freedom,corruption,id
0,Afghanistan,3.983,0.529,0.389,0.881,AF
1,Albania,4.607,0.639,0.704,0.885,AL
2,Argentina,6.697,0.926,0.881,0.851,AR
3,Armenia,4.348,0.723,0.551,0.901,AM
4,Australia,7.309,0.952,0.922,0.357,AU
...,...,...,...,...,...,...
138,Venezuela,5.569,0.911,0.512,0.813,Not found
139,Vietnam,5.076,0.849,NaN,NaN,Not found
140,Yemen,2.983,0.669,0.610,0.829,YE
141,Zambia,4.843,0.691,0.759,0.871,ZM
142,Zimbabwe,3.703,0.736,0.667,0.810,ZW